/*
    naam:
*/
/*
Hint: 
    (1) Omzetten naar hoofdletters:
            text-transform: uppercase;
    (2) Schaduw in figcaption
            text-shadow: 2px 2px 2px black;
    (3) Eerste 3 lijnen tonen van de paragrafen
            line-height:1em;
	        height:3em;
    (4) Herschaling van de figuren 
            aspect-ratio: 400 / 225;
        s    object-fit:cover;
*/

